<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card auth-card">
      <div class="card-header bg-dark text-white text-center">
        <h1 class="h4 mb-0"><i class="fas fa-sign-in-alt mr-2"></i>Login</h1>
      </div>
      <div class="card-body">
        <form action="/auth/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter your password"
              required
            />
          </div>
          <button type="submit" class="btn btn-dark btn-block">Login</button>
        </form>
        <p class="mt-4 text-center">
          No Account? <a href="/auth/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>